<%- include('template/header', {title: 'Capture'}) %>
<%- include('template/sidebar') %>
<main id="capture">
    <section id="capture-own-pokemon">
        <p>pokemon-naam</p>
        <figure id="capture-own-pokemon-img" class="capture-pokemon">
            <img src="./assets/images/Bulbasaur.png" alt="">
        </figure>
    </section>
    <section id="capture-pokeball">
        <p>overblijvende kansen</p>
        <p>3</p>
        <figure id="capture-ball">
            <img src="./assets/images/Pokeball.png" alt="">
        </figure>
    </section>
    <section id="capture-other-pokemon">
        <p>pokemon-naam</p>
        <figure id="capture-other-pokemon-img" class="capture-pokemon">
            <img src="./assets/images/Bulbasaur.png" alt="">
        </figure>
    </section>
</main>
<%- include('template/footer') %>