<footer>
    <img id=footer-img-left class="links"src="./assets/images/logo.png" alt="pokébal">
    <p>The Squirtle Squad</p>
    <img id=footer-img-right src="./assets/images/logo.png" alt="pokébal">
  </footer>      
</body>

</html>