<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/assets/images/logo.png">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/toggle-filter.js" defer></script>
    <script src="/js/base.js" defer></script>
    <script src="/js/hint.js" defer></script>
</head>

<body>
    <header>
      <% if (showLogo) { %>
        <a href="home.html"><figure><img src="/assets/images/logo.png" alt="logo-pokeball" id="logo"></figure></a>
        <span onclick="openNav()">&#9776;</span>
      <% } %>
        <nav id="myNav" class="overlay">
          <span href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</span>
          <ul class="overlay-content">
            <li><a href="/home"> home</a></li>
            <li><a href="/capture"> avontuur</a></li>
            <li><a href="/pokedex"> pokedex</a></li>
            <li><a href="/vergelijken"> vergelijker</a></li>
            <li><a href="/pokebattler"> pokemon league</a></li>
            <li><a href="/whospokemon"> mysterie</a></li>
            <li id="nav-account"> 
                    <section class="nav-account-section">
                      <figure id="" class="poke-image">
                        <img src="<%= buddy.sprites.other?.['official-artwork'].front_default %>" alt="" width="30px">
                      </figure>
                            <section>
                          <p class="nav-name"><%- user.username %></p>
                          <p class ="nav-pokemon"><%- buddy.name %></p>      
                        </section>           
                    </section>
            </li>
        </ul>
        </nav>
    </header>