<aside>
    <nav>
        <ul>
            <li><a href="home.html"> home</a></li>
            <li><a href="capture.html"> avontuur</a></li>
            <li><a href="pokedex.html"> pokedex</a></li>
            <li><a href="vergelijken.html"> vergelijker</a></li>
            <li><a href="pokebattler.html"> pokemon league</a></li>
            <li><a href="whospokemon.html"> mysterie</a></li>
            <li class="nav-account">    
              <section>
                <p class="nav-name">gebruikersnaam</p>
                <p class="nav-pokemon">pokemon-naam</p>
                <p class="poke-image">?</p>    
              </section>
            </li>
        </ul>
    </nav>
</aside>